In [1]:
import napari
from napari_clusters_plotter._new_plotter_widget import PlotterWidget

from skimage import morphology, measure, data
import numpy as np
import pandas as pd

In [2]:
viewer = napari.Viewer()

## Points demo

In [3]:
viewer.layers.clear()

n_samples = 100
loc = 5
n_timeframes = 5
frame = np.arange(n_timeframes).repeat(n_samples//n_timeframes)
# make some random points with random  features
points = np.random.random((n_samples, 4))
points2 = np.random.random((n_samples-1, 4))

points[:, 0] = frame
points2[:, 0] = frame[:-1]

features = pd.DataFrame({
    'frame': frame,
    'feature1': np.random.normal(size=n_samples, loc=loc),
    'feature2': np.random.normal(size=n_samples, loc=loc),
    'feature3': np.random.normal(size=n_samples, loc=loc),
    'feature4': np.random.normal(size=n_samples, loc=loc),})

features2 = pd.DataFrame({
    'frame': frame[:-1],
    'feature2': np.random.normal(size=n_samples-1, loc=-loc),
    'feature3': np.random.normal(size=n_samples-1, loc=-loc),
    'feature4': np.random.normal(size=n_samples-1, loc=-loc),})

layer = napari.layers.Points(points, features=features, size=0.1, blending='translucent_no_depth')
layer2 = napari.layers.Points(points2, features=features2, size=0.1, translate=(0, 0, 2), blending='translucent_no_depth')
viewer.layers.clear()
viewer.add_layer(layer)
viewer.add_layer(layer2)

In [4]:
plotter_widget = PlotterWidget(viewer)
viewer.window.add_dock_widget(plotter_widget, area='right')

c:\Users\johan\mambaforge\envs\clusters-plotter\lib\site-packages\napari_matplotlib\base.py:46: FutureWarning: The `as_dict` kwarg has been deprecated since Napari 0.5.0 and will be removed in future version. You can use `get_theme(...).to_rgb_dict()`
  get_theme(napari_viewer.theme, as_dict=False)
c:\Users\johan\mambaforge\envs\clusters-plotter\lib\site-packages\napari_matplotlib\base.py:101: FutureWarning: The `as_dict` kwarg has been deprecated since Napari 0.5.0 and will be removed in future version. You can use `get_theme(...).to_rgb_dict()`
  theme = napari.utils.theme.get_theme(self.viewer.theme, as_dict=False)

In [7]:
viewer.layers[-1].features

    frame  feature2  feature3  feature4  MANUAL_CLUSTER_ID
0       0 -4.725088 -4.325642 -7.112442                  1
1       0 -4.386041 -5.335577 -6.063437                  1
2       0 -5.730792 -4.642161 -4.429953                  1
3       0 -6.089492 -2.991715 -5.544447                  0
4       0 -4.740159 -5.189429 -4.769790                  1
..    ...       ...       ...       ...                ...
94      4 -5.815555 -4.737373 -4.945831                  0
95      4 -6.226173 -3.972162 -6.477352                  0
96      4 -4.597238 -3.308072 -4.418548                  0
97      4 -6.143753 -5.130647 -5.700410                  0
98      4 -4.029651 -5.172430 -5.987246                  1

[99 rows x 5 columns]

In [6]:
viewer.layers[1].data.shape

(99, 4)

In [6]:
viewer.layers.selection.active = viewer.layers[-1]
plotter_widget._selectors['x'].setCurrentText('feature3')
plotter_widget.plotting_widget.active_artist.color_indices = np.random.randint(0, 2, n_samples)
plotter_widget.plotting_widget.active_artist.color_indices

array([1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0])

In [7]:
viewer.layers.selection.active = viewer.layers[0]
plotter_widget.plotting_widget.active_artist.color_indices

array([1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0])

In [6]:
plotter_widget._get_features()

     feature3  feature2  feature4    layer
0    4.310577  4.151826  7.040538   points
1    5.776389  5.125504  5.937103   points
2    7.000484  5.524941  4.011762   points
3    5.182016  4.866394  5.799276   points
4    5.402926  5.967838  5.933521   points
..        ...       ...       ...      ...
195 -6.577565 -4.492556 -3.971916  points2
196 -4.782194 -6.170168 -4.662838  points2
197 -5.848882 -5.101038 -5.075573  points2
198 -6.524426 -5.670933 -7.476590  points2
199 -6.907373 -5.843320 -4.927803  points2

[200 rows x 4 columns]

## Surface demo

In [5]:
faces = np.random.randint(0, 100, (100, 3))

surface_layer = viewer.add_surface((points, faces), name='surface')
surface_layer.features = features

## Labels demo

In [6]:
binary_image = data.binary_blobs(length=128, n_dim=3, volume_fraction=0.1)
label_image = measure.label(binary_image)
features = pd.DataFrame({
    'feature1': np.random.random(label_image.max() + 1),
    'feature2': np.random.random(label_image.max() + 1),
    'feature3': np.random.random(label_image.max() + 1),
})

viewer.add_labels(label_image, name='labels', features=features)

c:\Users\johan\mambaforge\envs\clusters-plotter\lib\site-packages\napari\utils\colormaps\colormap.py:435: UserWarning: color_dict did not provide a default color. Missing keys will be transparent. To provide a default color, use the key `None`, or provide a defaultdict instance.
  warn(
c:\Users\johan\mambaforge\envs\clusters-plotter\lib\site-packages\napari\utils\colormaps\colormap.py:435: UserWarning: color_dict did not provide a default color. Missing keys will be transparent. To provide a default color, use the key `None`, or provide a defaultdict instance.
  warn(

## Vectors demo

In [10]:
points_direction = np.random.normal(size=points.shape) * 100
vectors = np.stack([points*100, points_direction], axis=1)

viewer.add_vectors(vectors, name='vectors', features=features, vector_style='arrow')